* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
.bg
{
	height: 100%;
	//background-image: url("back.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.tfbox
{
	position: absolute;
  left: 50%;
  top: 50%;
  min-height: 500px;
  min-width: 450px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
label[for="id_files"]
{
    display:none;
}
.nav-item
{
	width:50%;
}
.nav-tabs > li > a
{
   text-align:center;
}
.errorlist 
{
    float: left;
    list-style: none;
}
.btn-info
{
   background-color: #ae285d!important;
}