<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/mdb.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
<div class="bg"></div>
<div class="tfbox card outer">
	
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="true">Register</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="verify-tab" data-toggle="tab" href="#verify" role="tab" aria-controls="verify" aria-selected="false">Verify</a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">


			<div class="tab-pane fade show active" id="register" role="tabpanel" aria-labelledby="register-tab">
			<form method="post" class="text-center p-5", enctype="multipart/form-data">
				<p class="h4 mb-4">Register</p>
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-info btn-block my-4" type="submit">Register</button>

			</form>
			</div>


			<div class="tab-pane fade" id="verify" role="tabpanel" aria-labelledby="verify-tab">
				<form class="text-center p-5">
				<p class="h4 mb-4">Verify</p>
				
				<input type="text" id="textInput" class="form-control mb-4" placeholder="Customer ID">
				
				<div class="form-group">
					<!--<label for="exampleFormControlFile1">Signature to be verified</label>-->
					<input type="file" class="form-control-file" id="exampleFormControlFile1">
				</div>
					<button class="btn btn-info btn-block my-4" type="submit">Verify</button>
				</form>
			</div>
		</div>
</div>

  <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
  
</body>

</html>
